.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.img-responsive{
  padding: 15px;
  display: inline-block;
  max-height: 100px;
  max-width: 100px;
}

.bodyText{
  font-family: 'Oswald';
}

.btn-primary{
  background-color: #B1EAF1;
  border: #B1EAF1;
  font-family: 'Oswald';
  color:black;
  padding: 7px;
  padding-right: 10px;
  padding-left: 10px;
}

.btn-login{
  padding:10px;
  padding-left: 30px;
  padding-right: 30px;
}

.btn-default{
  border-width: 0px;
}

.btn-warning{
  background-color: #F18830;
  border: #F18830;
  font-family: 'Oswald';
  color:black;
}

.planning-btn{
  padding:40px;
  margin:5px;
}

.lateralMenu{
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  z-index:1000;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  text-align: center;
  background: #F18830;
  font-size: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.menuButton{
  
  margin-right: 10px;
  margin-left: 10px;
}

a.menuButton{
  
  text-align: center;
  background: #F18830;  
  color:white;
  padding-bottom: 20px;
  padding-top: 20px;
  border-right: 0px;
  border-left: 0px;
  border-bottom:0px;
  border-radius: 0.1rem;
  display: inline-block;
  font-size: 12px;
  font-family: 'Oswald';
}
a.menuButton:hover{
  color: #31E6F1;
  background: #F18830;
}

.loginSection{
  padding-top:40px;
  background: #F18830; 
  color: white;
  font-family: 'Cabin Sketch';
  height: 500px;
  margin:0;
  top:0;
  left:0;
  width: 100%;
}

.errorMessage{
  font-family: 'Cabin Sketch';
  color:#F15C34;
}

.titleH1{
  font-family: 'Cabin Sketch';
}

.titleH1login {
  font-family: 'Cabin Sketch';
  font-size: 80px;
  
}


.explainAppbody{
  font-family: 'Oswald';
}

.planMeal{
  background-color: #B1EAF1;
  padding-top: 50px;
}

.explainAppbodysection{
  padding-top: 50px;
  padding-bottom: 50px;
}

.explainAppbodyp{
  text-align: justify;
}

.loginIm{
  width: 80%;
}
.listIm{
  width: 50%;
}

.scheduleIm{
  width: 80%;
}
.cartIm{
  width: 40%;
}

.arrowIm{
  margin-top: -20px;
  width: 4%;
}

.homepageButton:hover{
  background: burlywood;
  opacity: 0.5;
}

.menuImgRight{
  margin-left: -50px;
}


.button-clicked {
  background: red;
}

.profilebutton{
  max-height: 100px;
  max-width: 100px;
}

.personalcontainer{
  margin-left:30px;
  padding-bottom:15px;
  padding-top: 15px;
  border-width: 1px;
  border-color: #95989A;
  border-style: solid;
}

.userPhoto{
  padding-bottom: 10px;
}

.profilePic{
  max-height: 166px;
}

.mapPic{
  margin-left:-170px;
  height: 166px;
  border-color: #95989A;
  border-style: solid;
  border-width: 1px;
}

.inputIngredient{
  padding-bottom: 50px;
}

.ingredientsList{
  padding-bottom: 50px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.firstElement{
  padding-top: 60px;
}

.menu-recipe {
  padding: 0 !important;
  margin: 0 !important;
  clear: both;
  overflow: hidden;
  background-size: 100%;
  height: 300px;
}

.choosenmeal-tab{
  padding-left: 0px !important;
  margin-left: 0px !important;
}

.menu-recipe-button{
  margin:0px;
  padding:8px;
  top:0;
  right:0px;
  position:absolute;
}
.recipe-name-gradient{
  margin: 0px;
  width: 100%;
  height:90px;
  vertical-align: text-bottom;
  position:absolute;
  bottom: 0.5px;
  background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient( rgba(0,0,0,0), rgba(0,0,0,1)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient( rgba(0,0,0,0), rgba(0,0,0,1)); /* For Firefox 3.6 to 15 */
  background: linear-gradient( rgba(0,0,0,0), rgba(0,0,0,1)); /* Standard syntax (must be last) */
}

.recipe-name {
  font-family: "Oswald";
  color:white;
  font-size: 12pt;
  padding-left: 5px;
  text-align: left;
}

.no-padding {
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 0;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 80%;
    border-radius: 5px;
    margin: 0 auto;
    float: center;
}

.card-header{
    background-color: blue;
    font-size: 200%;
    color: white;
}

.backgroundTest{
  background-image: url('./icons/backg1.jpg');
  background-size: 100%;
  background-attachment: fixed;
  min-height: 650px;
}

.whiteBackground{
  background-color: white;
  margin-top: 50px;
  min-height: 200px;
}


.backgroundPopUp{
  
  background-image: url('./icons/backg1.jpg');
  background-size: 100%;
  background-attachment: fixed;
  
}

.popUpround{
  border-radius: 150px 150px 150px 150px;
  background: #73AD21;
  padding: 20px; 
  width: 200px;
  height: 200px; 
}