body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.index-container{
  height: 100vh;
  display:grid;
  grid-template-columns: 1fr 5fr;
  grid-template-areas:
    "menu main";
  grid-column-gap: 10px;
}

.menu{
  grid-area: menu;
  background-color: gold ;
  justify-items: stretch;
} 

.routes{
  grid-area: main;
  background-color: whitesmoke;
}